  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
    /* border: 1px solid gold; */
}
:root{
    /* --total: 100%; */
    --tamanho: 32vw; 
}

html{
    height: 100%;
}

body {
    height: 100dvh;
    font-family: 'inter';
    background-color: rgb(75, 75, 75);
    background-image: linear-gradient(to left, #0099ff99 0%,  #0099ff99 25%, #ff310d99 75%, #ff310d99 100%);
    /* background-image: linear-gradient(to left,  #0099ff99, #ff310d99); */
    background-repeat: no-repeat;
    background-attachment: fixed;

}
header {
    display: flex;
    justify-content: space-between;
}

header, footer {
    padding: 1rem 2rem;
}


#trocarModo {
    all: unset;
    height: 100%;
    padding: 0px 1rem;
    margin: 0px;
    /* border: 4px solid rgba(0, 0, 0, 0.5); */
    border-radius: 7px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

main {
    min-height: 88dvh;
    height: fit-content;
    margin: auto;
    max-width: 64rem;
}

.placar {
    display: flex;
    justify-content: space-evenly;
    margin:  1.5rem auto;
    font-size: 1.5rem;
    align-items: center;
    width: fit-content;
    white-space-collapse: preserve-spaces;
}

.placar div{
    display: flex;
    align-items: center;
}

.placar img {
    width: 6rem;
    height: 6rem;
}

.tabuleiro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url(https://img.icons8.com/sf-ultralight/512/hashtag.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 136%;
    padding: calc(var(--tamanho)*(0.0625*3/4));/* 6.25% do tamanho do tabuleiro é o distanciamento ideal para caber na imagem de fundo usada. Deixando 1/4 para a margem.*/
    margin: auto;
    width: var(--tamanho);
    height: var(--tamanho);
}

@media(max-width:1024px) {
    :root{
        --tamanho: 60vw;
    }
}

@media(max-width:480px) {
    :root{
        --tamanho: 90vw
    }
}


.quadrado {
    margin: calc(var(--tamanho)*(0.0625/4));/*1/4 ficou para a margem.*/
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;

}
.quadrado:hover, #reiniciar:hover, #trocarModo:hover {
    background-color: rgba(0, 0, 0, 0.226);
}

#reiniciar {
    border: none;
    height: 2rem;
}

footer {
    margin-top: 2rem;
}

.grid-centro {
    display: grid;
    justify-content:center;
    /* grid-template-rows: auto auto auto; */
}

.menu{
    margin: 1.5rem auto;
    text-align: center;
    max-width: 32rem;
}

#reiniciar {
    font-size: 2rem;
    padding: 0.5rem;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    margin: auto;
    cursor: pointer;
    /* border: 2px solid #fff; */
}


.flex-centro {
    display: grid;
    justify-content: center;
}

.arredondado {
    border-radius: 50px;
}


/* Classes Auxiliares */
.fundo-escuro {
    background-color: rgb(0, 0, 0, 0.50);
    /* border: 2px solid #fff; */
}

.imgx{
    background-image: url(https://img.icons8.com/ios-glyphs/256/ff4747/multiply.png);
    background-size: contain;
}

.imgo{
    background-image: url(https://img.icons8.com/sf-black-filled/00f7ff/256/circled.png);
    background-size: contain;
}

.inativo {
    filter: opacity(50%);
}

.NaN { /* Cor dos ícones no link */
    color: #00f7ff;
    color: #ff4747;
}
