<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UsuariosOnline</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>
        Olá {{sid}}
    </h1>
    <form action="" id="login">    
        <input type="text" name="nome" id="input-nome" placeholder="Apelido...">
        <button id="btn-enviar">Enviar</button>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </form>
</body>
</html>